
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-12">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Dosya Listesi Çek</a>
    </div>
</div>